zeip.ru, www.zeip.ru {
  encode gzip zstd
  reverse_proxy 127.0.0.1:3001
}

# Kong: HTTP :8000, HTTPS :8443. Caddy уже снимает TLS — проксируем на :8000.
supabase.zeip.ru {
  encode gzip zstd
  reverse_proxy 127.0.0.1:8000
}
